<div class="container mt-5">
  <div class="row text-center">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h1>NgXS</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2 text-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h3>Nuevos Post</h3>
          <app-nuevo-post></app-nuevo-post>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h3>Listado de Post</h3>
          <app-listar-post></app-listar-post>

        </div>
      </div>
    </div>
  </div>

</div>